.input{
    border-radius: 5px;
    border-color: #290836;
    border-width: 1px;
    outline: none;
    margin: 25px 15px;
    color: #290836;
}
.addButton{
    border-radius: 50%;
    border-color: #6f33bd;
    background-color:#6f33bd;
    color: #fff;
    outline: none;
    cursor: pointer;
}